body {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    color: #5f5f5f;
}
#comments .commentlist .comment_info .meta-wrapper *,
textarea,
body input:not([type="checkbox"]):not([type="submit"]),
.blog-post_info-wrap > .meta-wrapper *,
.single-team .single_team_page .team-info_item h5 + span,
.isotope-filter a .number_filter,
.portfolio_info_item-info_desc h5,
.iguru_module_time_line_vertical .time_line-title,
.iguru_module_pricing_plan .pricing_price_wrap .pricing_desc {
    font-family: Open Sans;
}
select,
body .footer .select__field:before,
body input:not([type="checkbox"]):not([type="submit"])::placeholder,
ul.wgl-pagination li span,
select::placeholder,
textarea::placeholder,
.blog-post.format-quote .blog-post_quote-author-pos,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.recent-posts-widget .meta-wrapper a:hover,
.vc_row .vc_toggle .vc_toggle_icon,
.iguru_module_testimonials .testimonials_quote,
.iguru_module_message_box .message_content .message_text,
.iguru_module_infobox .infobox_content,
.tagcloud a,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .count-questions,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .duration,
.course-tab-panel-curriculum .course-curriculum ul.curriculum-sections .section-content .course-item .item-name,
.course-tab-panel-curriculum .course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .item-meta,
.course-curriculum ul.curriculum-sections .section-content .course-item .item-name,
.learn-press-courses .course:hover .course-info .course-excerpt,
.single-lp_course .lp-single-course .course-meta .reviews-total,
.learn-press-form .form-fields .form-field .description,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title {
    color: #5f5f5f;
}
.iguru_module_carousel .slick-prev:after,
.iguru_module_carousel .slick-next:after {
    border-color: #5f5f5f;
}
.iguru_module_title .external_link .button-read-more {
    line-height: 1.875;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.blog-post_cats,
.column1 .item_title a,
.tagcloud-wrapper .title_tags,
.strip_template .strip-item a span,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.shortcode_tab_item_title,
.index_number,
.primary-nav.footer-menu .menu-item a,
.page-header_wrapper .page-header_title,
.iguru_twitter .twitt_title {
    font-family: Muli;
    font-weight: 900;
}
blockquote,
input[type="submit"],
button,
body .comment-respond .comment-reply-title,
body .widget_rss ul li .rss-date,
body .widget_meta a,
body .widget_meta .post_count,
label,
legend,
select,
.page-header_breadcrumbs .breadcrumbs,
.wgl-social-share_pages.hovered_style .share_social-title,
.load_more_item,
.blog-post_text-bg,
.author-info_name,
.button-read-more,
.blog-post_meta_share .share_title,
.blog-post_meta-date .date_post,
.blog-post_meta-date .date_post span,
.theme-header-font,
.countdown-section .countdown-amount,
.iguru_module_progress_bar .progress_label,
.iguru_module_double_headings,
.iguru_module_infobox .infobox_icon_container .infobox_icon_number,
.iguru_module_button.wgl_button .wgl_button_link,
.iguru_module_testimonials .testimonials_item:before,
.iguru_module_testimonials .testimonials_status,
.iguru_module_videobox .title,
.iguru_module_progress_bar .progress_value,
.iguru_module_progress_bar .progress_units,
.iguru_module_counter .counter_value_placeholder,
.iguru_module_ico_progress .progress_value_completed,
.iguru_module_ico_progress .progress_value_min,
.iguru_module_ico_progress .progress_value_max,
.iguru_module_ico_progress .progress_point,
.iguru_module_flipbox .flipbox_front .flipbox_subtitle,
.iguru_module_pricing_plan .pricing_content,
.iguru_module_pricing_plan .pricing_desc,
.mashsb-count .counts,
.mashsb-box .mashsb-buttons a .text,
.prev-link,
.next-link,
.vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title > a span,
.widget.iguru_widget.iguru_banner-widget .banner-widget_text,
.widget.iguru_widget.iguru_banner-widget .banner-widget_text_bg,
.widget.iguru_widget.iguru_banner-widget .banner-widget_button,
.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title,
.heading_subtitle,
.prev-link_wrapper .info_wrapper a,
.next-link_wrapper .info_wrapper a,
.single_meta .single_info-share_social-wpapper > span.share_title,
.single_team_page .team-single_speaches-info .speech-info_day,
.single_team_page .team-info_wrapper .team-info_item,
.single_post_info,
.wgl_timetabs .timetabs_headings .wgl_tab .tab_title,
.wgl_portfolio_item-meta .post_cats,
.wgl_portfolio_item-cats,
.wgl-pagination .page-numbers,
.wgl_module_team .team-department,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab > a,
.wpb-js-composer .wgl-container .vc_chart.vc_round-chart[data-vc-legend="1"] .vc_chart-legend li,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-latest-posts li a,
.wp-block-latest-comments__comment,
.iguru_module_social.full_width .soc_icon .text,
span[class|="dropcap"],
.footer .copyright,
.author-widget_title,
.banner_404,
.primary-nav ul li ul li > a:before,
.iguru_module_counter .counter_value_wrapper,
.iguru_module_testimonials .testimonials_name,
.iguru_module_lp_cats .cat_name,
.iguru-post-navigation .meta-wrapper span,
.learn-press-courses .course .cat-links,
.single-lp_course .course-summary .course-meta .meta_data a,
.learn-press-courses .course .course-info .course-instructor,
.checkout.learnpress-page .learn-press-checkout .checkout-review-order table th,
.learnpress .lp-user-profile #learn-press-profile-content .lp-list-table thead th,
.widget .widget-title:after,
.coming_soon,
.subtitle {
    font-family: Muli;
}
.iguru_module_time_line_horizontal .tlh_date,
.wgl_portfolio_single-item .tagcloud .tagcloud_desc,
.wgl_timetabs .timetabs_data .timetabs_item .item_time,
.wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,
.single-lp_course .course-tab-panel-instructor .author-name,
.learnpress .course-curriculum .curriculum-sections .section-content .course-item:before,
.wpb-js-composer .wgl-container .vc_row .vc_pie_chart .vc_pie_chart_value,
.isotope-filter a {
    font-family: Muli;
    color: #2c2c2c;
}
.theme-header-color,
#comment .comment-reply-link:hover,
#comment .comment-reply-link:focus,
#comment .comment-reply-link:active,
body .footer select option,
button,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h3#reply-title a,
.calendar_wrap tbody,
.comment_author_says,
.comment_author_says a,
.tagcloud-wrapper .title_tags,
.iguru_module_double_headings .dlh_title,
.iguru_module_testimonials .testimonials_item .testimonials_content_wrap .testimonials_name,
.iguru_module_pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b,
.iguru_module_social .soc_icon,
.iguru_module_message_box .message_close_button:hover,
.iguru_module_counter .counter_value_wrapper,
.iguru_module_counter .counter_title,
.header_search .header_search-field .search-form,
.prev-link-info_wrapper,
.next-link-info_wrapper,
.item_title a,
.share_post-container:hover > a,
.single_meta strong,
.single_meta .blog-post_share-wrap > span.share_title,
.single_meta .single_info-share_social-wpapper > span.share_title,
.single_info-share_social-wpapper > span,
.wgl_timetabs .timetabs_headings .wgl_tab.active .tab_title,
.wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_title,
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form p a:hover,
.wgl-theme-header .wgl-sign_in_up_form .sign-in-up-tabs li a,
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form label,
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form-login button:hover,
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form-register button:hover,
#learn-press-user-profile.guest .learn-press-form button:hover,
#learn-press-user-profile.guest label,
.lp-user-profile.guest#learn-press-user-profile .learn-press-form-register button:hover,
.learnpress .lp-user-profile #learn-press-profile-content .lp-tab-sections .section-tab a,
.learnpress .lp-user-profile #learn-press-profile-content .lp-tab-sections .section-tab span,
.learnpress .lp-user-profile #learn-press-profile-content .lp-list-table td.column-order-total,
.learnpress .sidebar-container .lp-button.button,
.learnpress .iguru__instructor .instructor__dashboard .data__value,
.learnpress #learn-press-profile-header .profile-name,
.single-lp_course .lp-single-course .course-meta .meta_data,
.single-lp_course .wishlist-button,
.learnpress.learnpress-page .learn-press-pagination .page-numbers,
.single-lp_course .course-summary .course-tabs .course-nav-tabs .course-nav a,
.learn-press-courses .course .course-content .course-info .course-instructor a:hover,
.learn-press-courses .course:hover .course-content .course-title,
.wgl-theme-header .log-in.learnpress .learn-press-message,
.learn-press-courses .course .course-meta .lp-course-buttons .lp-button,
.checkout.learnpress-page #learn-press-order-review table td.course-total,
.checkout.learnpress-page #learn-press-order-review table tr.cart-subtotal td,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel:not(.vc_active):hover .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab > a,
.wgl_portfolio_item-wrapper .portfolio_link,
.wgl_portfolio_item-wrapper.fade_out_animation.no-featured-img .title,
.inside_image .wgl_portfolio_item-meta .post_cats a:hover,
.under_image .wgl_portfolio_item-meta .post_cats a:hover,
.wgl_portfolio_single-item .portfolio-category:hover,
body .widget_wgl_posts .recent-posts-widget .post_title a,
.widget.iguru_widget ul li a,
.widget_product_search .woocommerce-product-search:after,
.widget_categories.widget ul li a,
.widget_product_categories.widget ul li a,
.widget_recent_comments.iguru_widget .comment-author-link a,
.widget_recent_comments.iguru_widget .comment-author-link,
.wgl-theme-header ul.menu > li.mega-menu > ul.sub-menu > li.menu-item,
.wgl-pagination .page .page-numbers,
.wgl_module_title.item_title .carousel_arrows a span:after,
.wgl_module_team.info_under_image .team-department,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-categories.wp-block-categories-list li,
ul.wp-block-latest-posts li a {
    color: #2c2c2c;
}
.iguru_module_title .carousel_arrows a span,
.wgl_module_team .overlay,
#learn-press-content-item #course-item-content-header {
    background: #2c2c2c;
}
.wgl_portfolio_item-wrapper.inside_image.fade_out_animation .overlay,
.iguru_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,
.iguru_module_infobox.infobox_alignment_right.title_divider .infobox_title:before,
.iguru_module_lp_cats .cat_wrapper,
.learnpress .iguru__instructor .instructor__dashboard > :not(:last-child):after,
.learnpress #learn-press-profile-nav .learn-press-tabs > li,
.learnpress #learn-press-profile-nav .learn-press-tabs > li.has-child ul.profile-tab-sections {
    background-color: #2c2c2c;
}
.iguru_module_title .carousel_arrows a span:before {
    border-color: #2c2c2c;
}
.single-lp_course .course-tab-panel-reviews #course-reviews ul li {
    border-color: rgba(44, 44, 44, 0.1);
}
blockquote:before,
blockquote cite,
ul.wp-block-categories.wp-block-categories-list li,
ul.wp-block-archives.wp-block-archives-list li,
.iguru_widget.widget_nav_menu ul li,
.iguru_widget.widget_pages ul li,
.iguru_widget.widget_meta ul li,
.comments-title .number-comments,
.blog-post.format-quote .blog-post_quote-text:before,
.blog-post.format-quote .blog-post_quote-author,
.blog-post_meta-wrap,
.blog-post_content .meta-wrapper,
.blog-post .blog-post_likes-wrap .wgl-likes,
.page_404_wrapper .banner_404 span,
.isotope-filter a,
.iguru_module_double_headings .dlh_subtitle,
.iguru_module_counter .counter_title,
.iguru_module_flipbox .flipbox_front .flipbox_title,
.iguru_module_pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.iguru_module_lp_cats .cat_counter,
.iguru_module_countdown .countdown-section .countdown-period,
.learn-press-courses .course .cat-links a,
.single-lp_course .wgl-course-essentials .title,
.single-lp_course .course-summary .course-meta .meta_title,
.single-lp_course .course-tab-panel-reviews .course-rate .average .rating,
.widget_wgl_posts.widget .recent-posts-widget .meta-wrapper span,
.widget_categories ul li a,
.widget_product_categories ul li a,
.widget_archive.widget a,
.widget_archive.widget .post_count,
.widget .widget-title .widget-title__text {
    font-family: Quicksand;
}
.wgl-theme-header .wgl-sticky-header .header_search {
    height: 100px !important;
}
#scroll_up {
    background-color: #00bda6;
    color: #ffffff;
}
.primary-nav > div > ul,
.primary-nav > ul,
.sitepress_container > .wpml-ls li,
.primary-nav ul li.mega-menu-links > ul > li {
    font-family: Muli;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
}
.primary-nav ul li ul,
.wpml-ls,
.sitepress_container > .wpml-ls ul ul li,
.primary-nav ul li div.mega-menu-container {
    font-family: Muli;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
}
.wgl-theme-header .header_search-field,
.primary-nav ul li ul,
.primary-nav ul li div.mega-menu-container,
.wgl-theme-header .woo_mini_cart,
.wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu {
    color: #ffffff;
    background-color: rgba(36, 41, 55, 1);
}
.primary-nav ul li ul li > a > span {
    background-color: rgba(36, 41, 55, 1);
}
.mobile_nav_wrapper,
.wgl-menu_outer,
.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
    color: #5f5f5f;
    background-color: rgba(255, 255, 255, 1);
}
.wgl-theme-color,
#comments .commentlist .comment .stand_comment .meta-wrapper .comment-edit-link:hover,
#comments .comment-reply-link:hover,
a,
body ol > li:before,
blockquote cite a,
button:not(:hover),
button:focus,
button:active,
h3#reply-title a:hover,
input[type="submit"].button_alt:hover,
.author-info_social-wrapper,
.page_404_wrapper .banner_404,
.wgl-header-row-section_top a:hover,
.button-read-more:hover,
.blog-post_link .link_post:before,
.blog-post_meta-categories a,
.blog-post_meta-categories span,
.blog-post_title i,
.blog-style-standard .blog-post:hover .blog-post_wrapper .blog-post_meta_info .meta-wrapper span,
.blog-post.format-standard.link .blog-post_title:before,
.blog-post_cats span,
.blog-post_meta-wrap :before,
.primary-nav ul li ul li.current-menu-ancestor.current-menu-parent > a:after,
.mobile_nav_wrapper .primary-nav ul li ul .menu-item.current-menu-item > a,
.mobile_nav_wrapper .primary-nav ul ul li.menu-item.current-menu-ancestor > a,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-item > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_item > a,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-ancestor > a,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-parent > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_parent > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_ancestor > a,
.calendar_wrap thead,
.copyright a:hover,
.comment_author_says a:hover,
.dropcap,
.footer .wpcf7 input[type="submit"]:hover,
.load_more_wrapper .load_more_item:hover,
.load_more_wrapper .load_more_item:before,
.load_more_works:hover,
.header_search .header_search-button > i:hover,
.header_search-field .search-form:after,
.page_404_wrapper .iguru_404_button .wgl_button_link:hover,
.mc_form_inside #mc_signup_submit:hover,
.share_link span.fa:hover:before,
.share_post span.fa:hover:before,
.share_post-container,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.single_team_page .team-info_wrapper .team-info_item a:hover,
.single-member-page .member-icon:hover,
.single-member-page .team-link:hover,
.single_team_page .team-single_speaches-info .speech-info_day,
.single_team_page .team-info_icons a:hover,
.single_portfolio-wrapper .single_post_info .wgl-likes a:hover,
.blog-post_meta-wrap,
.team-icons .member-icon:hover,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.vc_wp_custommenu .menu .menu-item.current-menu-ancestor > a,
.wpml-ls a:hover,
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a,
.wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover,
.wgl_portfolio_item-meta a:hover,
.wgl_timetabs .timetabs_headings .wgl_tab.active .tab_subtitle,
.wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_subtitle,
.wgl_portfolio_category-wrapper a:hover,
.wgl_module_team .team-item_info .team-item_titles .team-title:hover,
.wpb-js-composer .vc_row .vc_tta.vc_general .vc_active .vc_tta-panel-title > a:before,
.wgl-social-share_pages.hovered_style ul li a:hover,
.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok,
.iguru_submit_wrapper:hover > i,
.iguru_custom_button i,
.iguru_custom_text a,
.iguru_module_button .wgl_button_link:hover,
.iguru_module_counter .counter_icon,
.iguru_module_demo_item .di_button a:hover,
.iguru_module_demo_item .di_title_wrap a:hover .di_title,
.iguru_module_demo_item .di_title-wrap .di_subtitle,
.iguru_module_social .soc_icon:hover,
.iguru_twitter a,
.iguru_module_testimonials.type_author_top_inline .testimonials_meta_wrap:after,
.iguru_module_testimonials .testimonials_status,
.iguru_module_circuit_services .services_subtitle,
.iguru_module_circuit_services .services_item-icon,
.iguru_module_flipbox .flipbox_front .flipbox_front_content,
.iguru_module_services_3 .services_icon_wrapper,
.iguru_module_services_4 .services_icon,
.iguru_module_services_4:hover .services_number,
.iguru_module_time_line_horizontal .tlh_check_wrap,
.iguru_module_progress_bar .progress_value_wrap,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab:not(.vc_active):hover > a,
.prev-link_wrapper .no_image:after,
.next-link_wrapper .no_image:after,
.prev-link_wrapper .info_wrapper > a:hover:before,
.next-link_wrapper .info_wrapper > a:hover:before,
.single_team_page .team-info_wrapper .team-department span,
.isotope-filter a:after,
.isotope-filter a.active,
.isotope-filter a:hover,
.wgl_portfolio_item-meta .post_cats a:hover,
.blog-style-standard .blog-post_meta-categories span + span:before,
.iguru_module_infobox .infobox_icon,
.isotope-filter a .number_filter,
.under_image .wgl_portfolio_item-title .title a:hover,
.blog-post_meta-categories span,
.blog-post_meta-categories span:after,
.single_type-1 .single_post_info .meta-wrapper :before,
.single_type-2 .single_post_info .meta-wrapper :before,
ul.wp-block-archives.wp-block-archives-list li a:hover,
ul.wp-block-categories.wp-block-categories-list li a:hover,
ul.wp-block-categories.wp-block-categories-list li a:hover + .post_count,
ul.wp-block-latest-posts li a:hover {
    color: #00bda6;
}
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.has-status.passed .course-item-status,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status:before,
.single-lp_course .lp-single-course .course-meta .meta_data a:hover,
.learn-press-courses .course .course-info .course-title:hover,
.single-lp_course .course-tab-panel-reviews .course-rate .average .rating,
.single-lp_course .course-tab-panel-instructor .author-name:hover,
.single-lp_course .wishlist-button:before,
.single-lp_course .course-summary .course-meta .lp-course-buttons .wishlist-button:hover,
.learnpress .lp-user-profile .instructor__spec,
.course-tab-panel-curriculum .course-curriculum ul.curriculum-sections .section-content .course-item.has-status.passed .course-item-status,
.course-tab-panel-curriculum .course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status:before,
.single-lp_course .sidebar .wgl-course-essentials .lp-course-buttons .wishlist-button:hover,
.checkout.learnpress-page .learn-press-checkout #learn-press-order-review table tr.order-total td,
.learn-press-courses .course .course-meta .lp-course-buttons .lp-button:hover,
.iguru_widget.widget_lp-widget-popular-courses .course-entry .course-detail .course-meta-data [class="course-meta-field"],
.iguru_module_lp_cats .cat_counter {
    color: #00bda6;
}
header .header-link:hover,
.hover_links a:hover {
    color: #00bda6 !important;
}
body .widget_nav_menu .current-menu-ancestor > a,
body .widget_nav_menu .current-menu-item > a,
body .widget_recent_entriesul li .post-date,
body .widget_rss ul li .rss-date,
body .widget_archive ul li > a:before,
.widget.iguru_widget ul li a:hover,
.widget.iguru_widget ul li a:hover + .post_count,
.widget.iguru_widget ul li a:hover .post_count,
.recent-posts-widget .meta-wrapper a,
.widget .widget-title:after,
.iguru_banner-widget.widget.iguru_widget .banner-widget_text .tags_title:after,
.widget.widget_archive ul li a:hover,
.widget.widget_recent_comments ul li a,
.widget.widget_pages ul li a:hover,
.widget.widget_meta ul li a:hover,
.author-widget_social a:hover,
.widget.widget_recent_comments ul li span.comment-author-link a:hover,
.widget.widget_recent_comments ul li a:hover,
.widget.widget_recent_entries ul li a:hover,
.widget.widget_nav_menu ul li a:hover,
.author-widget_img-wrapper,
.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
.recent-posts-widget .meta-wrapper a,
.widget_lp-widget-featured-courses.iguru_widget .course-entry .course-detail .course-title:hover,
.widget_lp-widget-popular-courses.iguru_widget .course-entry .course-detail .course-title:hover,
.widget_lp-widget-recent-courses.iguru_widget .course-entry .course-detail .course-title:hover {
    color: #00bda6;
}
#multiscroll-nav span,
#multiscroll-nav li .active span,
#comments .comment-reply-link,
.primary-nav > ul > li > a > span:after,
.single_team_page .team-title:before,
.tagcloud a:hover,
.wgl_module_team .team-icon,
.single_team_page .team-info_icons .team-icon,
.single-lp_course .course-tab-panel-curriculum .curriculum-sections .section-title:after,
.single-lp_course .course-tab-panel-curriculum .curriculum-sections .section-title:before,
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a span:before,
ul.iguru_plus li:after,
ul.iguru_plus li:before,
ul.iguru_dash li:before {
    background: #00bda6;
}

::selection,
#comments > h3:after,
button:hover,
mark,
span.highlighter,
input[type="submit"].button_alt:not(:hover),
ul.iguru_dot li:before,
[type="submit"] + .search__icon,
.search-course-button + .search__icon,
.vc_wp_custommenu .menu .menu-item a:before,
.primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a,
.sitepress_container > .wpml-ls ul ul li a:hover,
.blog-post_cats span a,
.blog-post_content .meta-wrapper.post-date .date_post,
.calendar_wrap caption,
.comment-reply-title:after,
.iguru_divider .iguru_divider_line .iguru_divider_custom .divider_line,
.iguru_module_cats .cats_item-count,
.iguru_module_progress_bar .progress_bar,
.iguru_module_progress_bar .progress_bar:before,
.iguru_module_social.with_bg .soc_icon,
.iguru_module_title:after,
.iguru_module_title .carousel_arrows a:hover span,
.iguru_module_videobox .videobox_link,
.iguru_module_ico_progress .progress_completed,
.iguru_module_services_3 .services_icon_wrapper .services_circle_wrapper .services_circle,
.iguru_module_time_line_horizontal .tlh_check_wrap,
.iguru_module_pricing_plan .pricing_header,
.load_more_wrapper .load_more_item,
.load_more_works,
.mc_form_inside #mc_signup_submit,
.author-info_wrapper,
.wgl-social-share_pages.hovered_style .share_social-icon-plus:before,
.wgl-social-share_pages.hovered_style .share_social-icon-plus:after,
.wgl-ellipsis span,
.wgl-pagination .page:hover a,
.wgl-pagination .page .current,
.dropcap-bg,
.primary-nav .lavalamp-object,
.inside_image.offset_animation:before,
.wgl_module_title.item_title .carousel_arrows a:hover,
.wgl_timetabs .timetabs_headings .wgl_tab.active:after,
.wgl-social-share_pages.standard_style a:before,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_active .vc_toggle_title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel:not(.vc_active):hover .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_toggle:hover .vc_toggle_title,
.learnpress .course-curriculum .curriculum-sections .section-content .course-item:before {
    /*background-color: #00bda6;*/
}
.wgl-theme-header .log-in.learnpress .log-link:hover,
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form-login button:not(:hover),
.wgl-theme-header .wgl-sign_in_up_form .learn-press-form-register button:not(:hover),
#learn-press-user-profile.guest .learn-press-form-login button:not(:hover),
#learn-press-content-item .learn-press-message:before,
#learn-press-content-item .answer-options .answer-option input[type="checkbox"]:checked ~ .option-title:before,
#learn-press-content-item .answer-options .answer-option input[type="radio"]:checked ~ .option-title:before,
#learn-press-content-item #course-item-content-header .form-button.lp-button-back button:hover,
#learn-press-user-profile.guest .learn-press-form-register button:not(:hover),
.learn-press-courses .course .cat-links a:hover,
.single-lp_course .wgl-course-essentials .title,
.single-lp_course .course-summary .course-meta .lp-course-buttons .lp-button,
.single-lp_course .course-summary .course-meta .lp-course-buttons button:hover,
.learnpress .lp-user-profile.iguru__instructor .instructor__socials .social-link,
.learnpress .lp-user-profile #learn-press-profile-content .lp-list-table thead th,
.single-lp_course .lp-label.label-enrolled,
.single-lp_course .lp-label.label-started,
.single-lp_course .learn-press-progress .progress-bg .progress-active,
.single-lp_course .learn-press-course-results-progress .course-progress .lp-course-status .grade.passed,
.checkout.learnpress-page .learn-press-checkout .checkout-review-order table thead th,
.learn-press-courses .course .course-meta .lp-course-buttons .lp-button,
.lp-user-profile.current-user #learn-press-profile-nav:hover #profile-mobile-menu {
    background-color: #00bda6;
}
aside > .widget + .widget:before,
ul.wp-block-categories.wp-block-categories-list li:before,
.widget_pages.iguru_widget ul li:before,
.widget_categories ul li:before,
.widget_product_categories ul li:before,
.widget .calendar_wrap table td#today:before,
.widget .calendar_wrap tbody td > a:before,
.widget .counter_posts,
.widget.widget_pages ul li a:before,
.widget.widget_nav_menu ul li a:before,
.widget_nav_menu .menu .menu-item:before,
.widget_postshero .recent-posts-widget .post_cat a,
.widget_categories ul li > a:before,
.widget_meta ul li > a:before,
.widget_archive ul li > a:before,
.iguru_banner-widget.widget .banner-widget_button:hover span {
    background-color: #00bda6;
}
input[type="submit"].button_hover_fill:hover,
.iguru_404_search .search-button:hover + .search__icon,
.blog-post_meta-date,
.iguru_module_carousel.navigation_offset_element .slick-prev:hover,
.iguru_module_carousel.navigation_offset_element .slick-next:hover,
.iguru_module_demo_item .di_button a,
.iguru_module_button.wgl_button:not(.btn-gradient) .wgl_button_link,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel:hover .vc_tta-panel-heading,
.next-link:hover,
.prev-link:hover {
    border-color: #00bda6;
    background: #00bda6;
}
body input:not([type="checkbox"]):not([type="submit"]):focus,
body input:not([type="checkbox"]):not([type="submit"]):active,
ul.iguru_check li:before,
button,
select:focus,
select:active,
textarea:focus,
textarea:active,
.iguru_module_title .carousel_arrows a:hover span:before,
input[type="submit"].button_alt,
.load_more_works,
.load_more_wrapper .load_more_item,
.author-info_social-link:after,
.single_info-share_social-wpapper .share_link .share-icon_animation,
.single-team .single_team_page .team-image,
.inside_image.offset_animation:before,
.iguru_module_videobox .videobox_link,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading,
.iguru_module_products_special_cats .product_special_cats-image_wrap:before,
.iguru_module_carousel.pagination_circle .slick-dots li button,
.footer .wpcf7 input[type="submit"]:hover,
.learnpress .lp-course-buttons button,
.learnpress .lp-quiz-buttons button,
#learn-press-content-item button,
#learn-press-course-tabs button,
#course-item-content-header button,
#review-form button,
.learnpress.learnpress-page .learn-press-pagination .page-numbers li .current,
.learnpress.learnpress-page .learn-press-pagination .page-numbers li .page-numbers:hover,
#learn-press-content-item .answer-option input[type="checkbox"]:after,
#learn-press-content-item .answer-options .answer-option input[type="radio"]:after,
.iguru_widget.widget_lp-widget-featured-courses .course-entry .course-detail .course-meta-data .course-meta-field,
.iguru_widget.widget_lp-widget-recent-courses .course-entry .course-detail .course-meta-data .course-meta-field,
.iguru_widget ul li .lp-label,
.author-widget_social a span,
.widget.iguru_widget.iguru_banner-widget .banner-widget_button.button-read-more,
.content-item-summary .quiz-result .result-grade .result-achieved {
    border-color: #00bda6;
}
.theme_color_shadow {
    box-shadow: 5px 6px 25px 0px rgba(0, 189, 166, 0.08);
}
.wgl_portfolio_item-wrapper.outline_animation .overlay,
.wgl_portfolio_item-wrapper.zoom_in_animation.gallery_type:hover .overlay {
    box-shadow: inset 0px 0px 0px 10px rgba(0, 189, 166, 1);
}
.wgl-social-share_pages.standard_style a:hover:before {
    box-shadow: 0px 9px 30px 0px rgba(255, 109, 52, 0.4);
}
.wgl-secondary-color,
a:hover .wgl-icon,
blockquote:before,
input[type="submit"]:hover,
.primary-nav ul li ul li:hover > a > span,
.primary-nav ul li ul li:hover > a > i,
.primary-nav ul li ul li.current-menu-item > a > span,
.primary-nav ul li ul li.current-menu-item > a > i,
.primary-nav ul li ul li.current_page_item > a > span,
.primary-nav ul li ul li.current_page_item > a > i,
.blog-post_title a:hover,
.blog-post_link .link_post:hover,
.blog-post.format-quote .blog-post_quote-text:before,
.blog-post.format-link .link_post:before,
.blog-style-standard .blog-post_info-wrap,
.blog-posts .blog-style-medium_img .blog-post_info-wrap,
.blog-posts .blog-style-tiny_img .blog-post_info-wrap,
.single_type-1 .blog-post .wgl-views:hover:before,
.single_type-1 .blog-post .comments_post:hover :before,
.single_type-2 .blog-post .wgl-views:hover:before,
.single_type-2 .blog-post .comments_post:hover :before,
.blog-post_meta-categories a:hover,
.button-read-more,
.author_post a:hover,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.item-locked .course-item-status:before,
.single-lp_course .course-summary .course-meta .meta_title,
.learn-press-courses .course:hover .course-meta :before,
.learn-press-courses .course:hover .course-meta :after,
.learn-press-courses .course:hover .course-content .course-meta.grid :before,
.learn-press-courses .course:hover .course-content .course-meta.grid :after,
.learnpress .lp-user-profile.iguru__instructor .instructor__dashboard .data__title,
.learnpress #learn-press-profile-nav .learn-press-tabs li:hover:not(.active) > a,
.learnpress #learn-press-profile-nav .learn-press-tabs li.active > a,
.single-lp_course .lp-single-course .course-nav-tabs .course-nav:hover a,
.widget .widget-title .widget-title__text,
.iguru_module_testimonials .testimonials_item:before,
.iguru_module_testimonials .testimonials_position,
.iguru_module_counter .counter_value_wrapper,
.iguru_module_pricing_plan .pricing_desc > span,
.iguru_module_double_headings .dlh_subtitle,
.wgl_module_team .team-department,
.wgl_portfolio_item-meta .post_cats,
.wgl_portfolio_item-meta .post_cats a + a:before,
.wgl-menu-module .wgl-menu-module_link-wrapper:after,
.wgl_portfolio_item-cats,
.wgl_portfolio_item-cats a + a:before,
.course-tab-panel-curriculum .course-curriculum ul.curriculum-sections .section-content .course-item.item-locked .course-item-status:before,
.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link,
.content-item-summary .quiz-result.failed .result-achieved,
.content-item-summary .quiz-result.failed .result-message strong {
    color: #ff6d34;
}
.slick-dots li button,
.iguru_module_carousel.pagination_circle .slick-dots li:hover button,
span.highlighter.secondary,
.wgl-theme-header .log-in.learnpress .log-link,
ul.iguru_dot.secondary li:before,
ul.iguru_plus.secondary li:after,
ul.iguru_plus.secondary li:before {
    background: #ff6d34;
}
input[type="submit"]:not(:hover),
.iguru_author-widget.iguru_widget .author-widget_wrapper,
.iguru_404_search .search__icon,
.dropcap-bg.secondary,
.blog-post_wrapper .blog-post_media .iguru_module_videobox .videobox_link,
.primary-nav > ul > li > a > span:before,
.prev-link_wrapper .info_wrapper .image_prev:before,
.next-link_wrapper .info_wrapper .image_next:before,
.search-button:hover + .search__icon,
.iguru_module_carousel .slick-arrow,
.iguru_module_carousel.pagination_circle_border .slick-dots li.slick-active button,
.iguru_module_carousel.pagination_line .slick-dots li button:before,
.iguru_module_carousel.pagination_square .slick-dots li,
.iguru_module_carousel.pagination_circle .slick-dots li.slick-active button:before,
.wgl-theme-header .wgl-sign_in_up_form .sign-in-up-tabs li.active,
.learn-press-courses .course .cat-links a,
.single-lp_course .course-tab-panel-reviews .precise .rating,
.single-lp_course .sidebar .wgl-course-essentials .lp-course-buttons,
.single-lp_course .lp-single-course .course-nav-tabs .course-nav.active,
.learnpress #learn-press-profile-content .lp-tab-sections .section-tab.active,
.learnpress #learn-press-profile-content .lp-tab-sections .section-tab:hover,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab.vc_active,
.iguru_banner-widget.widget .banner-widget_button span {
    background-color: #ff6d34;
}
input[type="submit"],
ul.iguru_check.secondary li:before,
.iguru_module_carousel.pagination_circle_border .slick-dots li button {
    border-color: #ff6d34;
}
input[type="submit"].button_alt.button_hover_fill:hover {
    border-color: #ff6d34;
    background-color: #ff6d34;
}
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .join-links .btn,
.vczapi-list-zoom-meetings .vczapi-list-zoom-meetings--item__details .start-date,
.vczapi-list-zoom-meetings .vczapi-list-zoom-meetings--item__details .hosted-by,
.vczapi-list-zoom-meetings--pagination .page-numbers,
.vczapi-pagination .page-numbers {
    font-family: Muli;
}
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-content .dpn-zvc-sidebar-content-list span:first-child,
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .dpn-zvc-timer .dpn-zvc-timer-cell,
.vczapi-list-zoom-meetings--pagination .page-numbers,
.vczapi-pagination .page-numbers {
    color: #2c2c2c;
}
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-timer .dpn-zvc-timer-cell-number,
.vczapi-list-zoom-meetings .list-duration,
.vczapi-list-zoom-meetings .vczapi-list-zoom-meetings--item__details .start-date:before,
.vczapi-list-zoom-meetings .vczapi-list-zoom-meetings--item__details__meta a:hover h3 {
    color: #00bda6;
}
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .join-links .btn.btn-join-link,
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .join-links .btn.btn-start-link:hover,
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .dpn-zvc-timer .dpn-zvc-meeting-ended,
.vczapi-list-zoom-meetings--pagination .page-numbers.current,
.vczapi-pagination .page-numbers.current,
.vczapi-list-zoom-meetings--pagination .page-numbers:hover,
.vczapi-pagination .page-numbers:hover {
    background-color: #00bda6;
}
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-tile,
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .join-links .btn.btn-join-link:hover,
.dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-box .join-links .btn.btn-start-link,
.vczapi-list-zoom-meetings .vczapi-list-zoom-meetings--item__details .list-categories span {
    background-color: #ff6d34;
}
.footer .mc4wp-form-fields input[type="submit"]:hover,
.footer .mc4wp-form-fields input[type="submit"]:focus,
.footer .mc4wp-form-fields input[type="submit"]:active,
.footer_top-area .footer-link:before,
.footer_top-area .widget.widget_archive ul li > a:hover,
.footer_top-area .widget.widget_categories ul li > a:hover,
.footer_top-area .widget.widget_pages ul li > a:hover,
.footer_top-area .widget.widget_meta ul li > a:hover,
.footer_top-area .widget.widget_recent_comments ul li > a:hover,
.footer_top-area .widget.widget_recent_entries ul li > a:hover,
.footer_top-area .widget.widget_nav_menu ul li > a:hover,
.footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
.footer ul li:before {
    color: #00bda6;
}
.footer_top-area .footer-link:hover {
    color: #00bda6 !important;
}
.footer_top-area .widget-title,
.footer_top-area .widget-title .rsswidget,
.footer_top-area .widget-title + ul .rsswidget,
.footer_top-area .widget.widget_pages ul li a,
.footer_top-area .widget.widget_nav_menu ul li a,
.footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a,
.footer_top-area .widget.widget_archive ul li > a,
.footer_top-area .widget.widget_categories ul li > a,
.footer_top-area .widget.widget_pages ul li > a,
.footer_top-area .widget.widget_meta ul li > a,
.footer_top-area .widget.widget_recent_comments ul li > a,
.footer_top-area .widget.widget_recent_comments ul li .comment-author-link,
.footer_top-area .widget.widget_recent_comments ul li .comment-author-link a,
.footer_top-area .widget.widget_recent_entries ul li > a,
.footer_top-area .widget.widget_archive ul li:before,
.footer_top-area .widget.widget_meta ul li:before,
.footer_top-area .widget.widget_recent_comments > ul > li:before,
.footer_top-area .widget.widget_recent_entries > ul > li:before,
.footer_top-area .widget.widget_categories ul li:before,
.footer_top-area h1,
.footer_top-area h2,
.footer_top-area h3,
.footer_top-area h4,
.footer_top-area h5,
.footer_top-area h6,
.footer_top-area strong {
    color: #ffffff;
}
.footer_top-area {
    color: #cccccc;
}
.footer_top-area .widget.widget_archive ul li:after,
.footer_top-area .widget.widget_pages ul li:after,
.footer_top-area .widget.widget_meta ul li:after,
.footer_top-area .widget.widget_recent_comments ul li:after,
.footer_top-area .widget.widget_recent_entries ul li:after,
.footer_top-area .widget.widget_nav_menu ul li:after,
.footer_top-area .widget.widget_categories ul li:after {
    background-color: #cccccc;
}
.footer .copyright {
    color: #686868;
}
.footer .mc4wp-form-fields input[type="submit"] {
    background-color: #00bda6;
    border-color: #00bda6;
}
.woocommerce div.product form.cart div.quantity label.label-qty {
    font-family: Open Sans;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count,
.woocommerce table.shop_table td.product-name .product-quantity,
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    color: #5f5f5f;
}
.woocommerce .summary .product_meta > span span,
.woocommerce .summary .product_meta > span a {
    font-family: Open Sans;
    color: #5f5f5f;
}
ul.wgl-products .woocommerce-loop-product__title,
nav.woocommerce-pagination ul li .page-numbers,
.checkout.woocommerce-checkout #ship-to-different-address,
.checkout.woocommerce-checkout #ship-to-different-address span,
.product_list_widget .product-title,
.product_list_widget .quantity,
.product_list_widget .woocommerce-Price-amount,
.wc-proceed-to-checkout a.checkout-button,
.widget_shopping_cart .buttons,
.widget_shopping_cart .total strong,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a,
.wgl-products li a.add_to_cart_button,
.wgl-products li a.button,
.wgl-products li .added_to_cart.wc-forward,
.woocommerce span.onsale,
.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty,
.woocommerce .products ul.wgl-products .price,
ul.wgl-products .price,
.woocommerce div.product p.price,
.woocommerce table.shop_table .woocommerce-Price-amount.amount,
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce .widget_price_filter .price_slider_amount .price_label,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce div.product form.cart .group_table tr td label,
.woocommerce div.product span.price,
.woocommerce table.shop_table thead th,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce .products ul.wgl-products .woocommerce-loop-product__title,
.woocommerce-message a.button,
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount {
    font-family: Muli;
}
#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.product-categories a,
.product-categories .cat-item a,
.woocommerce .widget_price_filter .price_slider_amount .price_label,
.woocommerce label,
.woocommerce strong,
.woocommerce .cart-collaterals .woocommerce-Price-amount.amount,
.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce div.product .woocommerce-tabs .panel #respond #commentform label,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before,
.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty::placeholder,
.woocommerce div.product form.cart div.quantity .qty,
.woocommerce div.product form.cart div.quantity .qty::placeholder,
.woocommerce-tabs .comment-reply-title,
.woocommerce form .form-row label,
.woocommerce.widget_shopping_cart .buttons a.checkout,
.woocommerce.widget_shopping_cart .buttons a:not(.checkout):hover,
.woocommerce ul#shipping_method li label,
.woocommerce table.shop_table td.product-total .woocommerce-Price-amount.amount,
.woocommerce nav.woocommerce-pagination ul li > *,
.woocommerce #order_review table.shop_table tfoot tr:not(.order-total) .amount,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: #2c2c2c;
}
.woocommerce table.shop_table td.product-name,
.woocommerce .summary .product_meta > span,
.woocommerce table.shop_table tfoot tr th,
.woocommerce table.shop_table div.quantity .qty,
.woocommerce table.shop_table div.quantity .qty::placeholder,
.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,
.woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal {
    font-family: Muli;
    color: #2c2c2c;
}
.woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #2c2c2c transparent transparent transparent;
}
.woocommerce table.shop_table thead {
    background-color: #2c2c2c;
}
ul.wgl-products .woocommerce-loop-product__title a:hover,
.product_list_widget .product-title:hover,
.product_list_widget li:hover .product-title,
.product-categories a:hover,
.product-categories .current-cat a,
.product_meta > span a:hover,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce button.button:hover,
.woocommerce button.button[name="calc_shipping"],
.woocommerce div.product form.cart .button:hover:before,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce form .form-row .required,
.woocommerce table.shop_table.cart input.button,
.woocommerce p.stars a,
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover,
.woocommerce .products ul.wgl-products .woocommerce-loop-product__title a:hover,
.woocommerce .summary .product_meta > span a:hover,
.woocommerce .widget_shopping_cart .buttons a:hover,
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .buttons a:hover,
.woocommerce.widget_shopping_cart .total,
.woocommerce-review-link:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart button.button:hover,
.woocommerce .cart input.button:hover,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce form .form-row .required,
.woocommerce table.shop_table td.product-name a:hover,
.woocommerce table.shop_table.cart button[name="update_cart"],
.woocommerce-review-link:hover,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .woocommerce-product-rating .star-rating span:before,
.woocommerce-message a.button:hover {
    color: #00bda6;
}
.wgl-products li .added_to_cart.wc-forward,
.woocommerce button.button[name="calc_shipping"]:hover,
.product-categories .cat-item a:before,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce table.shop_table.cart input.button:hover,
.woocommerce span.onsale,
.woocommerce table.shop_table.cart button[name="update_cart"]:hover,
.woo_product_image .added_to_cart.wc-forward:hover {
    background-color: #00bda6;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover,
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout):not(:hover),
.woocommerce nav.woocommerce-pagination ul li a.current,
.woocommerce .widget_shopping_cart .buttons a.checkout:hover,
.woocommerce.widget_shopping_cart .buttons a.checkout:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt,
.woocommerce #payment #place_order,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce input.button.alt,
.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart .button:before,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a,
.woocommerce-message a.button,
.woocommerce-page #payment #place_order,
.woocommerce button.button.alt:hover,
.woocommerce div.product form.cart button.button.alt:hover {
    border-color: #00bda6;
    background: #00bda6;
}
table.cart td.actions .coupon .input-text:focus,
ul.wgl-products li:hover .woo_product_image,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    border-color: #00bda6;
}
ul.wgl-products .price,
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce table.shop_table .woocommerce-Price-amount,
.product_list_widget .amount,
.woocommerce .woo_mini_cart > ul.cart_list li.mini_cart_item.woocommerce-mini-cart-item .quantity .amount,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total span,
.woocommerce .cart-empty.woocommerce-info:before,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #ff6d34;
}
.wgl-theme-header .woo_mini-count span,
.wgl-theme-header .woo_mini_cart .buttons .button:not(.checkout):hover,
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce .cart-empty + .return-to-shop a:hover,
ul.wgl-products li a.add_to_cart_button:hover,
ul.wgl-products li a.button:hover,
ul.wgl-products li .added_to_cart.wc-forward:hover {
    background-color: #ff6d34;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout:hover,
.woocommerce div.product form.cart button.button.alt {
    border-color: #ff6d34;
    background: #ff6d34;
}
body {
    background: #ffffff;
}
ol.commentlist:after {
    background: #ffffff;
}
h1,
h1 a,
h1 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
}
h2,
h2 a,
h2 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 42px;
    line-height: 52px;
}
h3,
h3 a,
h3 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
}
h4,
h4 a,
h4 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
}
h5,
h5 a,
h5 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}
h6,
h6 a,
h6 span {
    font-family: Muli;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}
@media only screen and (max-width: 1200px) {
    .wgl-site-header,
    .wgl-theme-header .primary-nav,
    .wgl-theme-header .wgl-sticky-header,
    .wgl-social-share_pages {
        display: none;
    }
    .wgl-theme-header .wgl-mobile-header,
    header.wgl-theme-header .mobile_nav_wrapper .primary-nav {
        display: block;
    }
    .wgl-theme-header .mobile-hamburger-toggle {
        display: inline-block;
    }
    body.mobile_switch_on .wgl-menu_outer {
        height: calc(100vh - 100px);
    }
    .mobile_nav_wrapper .primary-nav {
        min-height: calc(100vh - 100px - 30px);
    }
}
@media only screen and (max-width: 1200px) {
    body .wgl-theme-header.header_overlap {
        position: relative;
        z-index: 2;
    }
}
@media only screen and (max-width: 768px) {
    .page-header {
        padding-top: 15px !important;
        padding-bottom: 40px !important;
        height: 370px !important;
    }
    .page-header_content .page-header_title {
        color: #ffffff !important;
        font-size: 42px !important;
        line-height: 60px !important;
    }
    .page-header_content .page-header_breadcrumbs {
        color: #ffffff !important;
        font-size: 14px !important;
        line-height: 24px !important;
    }
}
.vc_custom_1569592915561 {
    margin-bottom: -10px !important;
    background-color: #090a0e !important;
}
.vc_custom_1571321166258 {
    padding-right: 16px !important;
}
.vc_custom_1573047727304 {
    border-radius: 10px !important;
}
.vc_custom_1569592907324 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}




.vc_custom_1564572857378 {
    background-color: #f5f7f8 !important;
}
.vc_custom_1561467533751 {
    background-color: #f5f7f8 !important;
}
.vc_custom_1571301113686 {
    background: #242937 url(https://iguru.wgl-demo.net/wp-content/uploads/2019/10/about-us_03.jpg?id=2917) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1571230625124 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.vc_custom_1561466916894 {
    margin-bottom: -170px !important;
}
.vc_custom_1561467424159 {
    padding-top: 0px !important;
}
.vc_custom_1561467430626 {
    padding-top: 0px !important;
}
.vc_custom_1561467438595 {
    padding-top: 0px !important;
}
.vc_custom_1571231608618 {
    padding-top: 58px !important;
    padding-right: 40px !important;
    padding-bottom: 55px !important;
    padding-left: 40px !important;
    border-radius: 10px !important;
}
.vc_custom_1571231608710 {
    margin-bottom: 21px !important;
}
.vc_custom_1571231787819 {
    padding-top: 58px !important;
    padding-right: 40px !important;
    padding-bottom: 55px !important;
    padding-left: 40px !important;
    border-radius: 10px !important;
}
.vc_custom_1571231787913 {
    margin-bottom: 21px !important;
}
.vc_custom_1571231879289 {
    padding-top: 58px !important;
    padding-right: 40px !important;
    padding-bottom: 55px !important;
    padding-left: 40px !important;
    border-radius: 10px !important;
}
.vc_custom_1571231879330 {
    margin-bottom: 21px !important;
}
.vc_custom_1571299970679 {
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1571237601728 {
    padding-top: 25px !important;
}

.wgl-footer {
    padding-top: 110px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
}


.wpb_animate_when_almost_visible {
    opacity: 1;
}



@media only screen and (max-width: 480px){
    #footer_id{
        width: 1125px !important;
            padding: 10px !important;
    }
    }

    .watsap{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        left:40px;
        background-color:#fff;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    
    .my-watsap{
        margin-top:16px;
    }
   

    #container{ width: 1350px;
   
        height: 100vh; 
       
        overflow: hidden; 
       
        margin: auto; 
       
       
       
        } 
       
       #slidebar{
       
        width: 5120px;
       
        height: 100vh; 
       
        position: relative; 
       
        animation: animate 20s none infinite;
       
        }
       
       @keyframes animate{
       
        0%{
       
        left: 0;
       
        } 
       
        25%{ 
       
        left: 0;
       
        } 
       
        30%{ 
       
        left: -1280px; 
       
        }
       
        55%{
       
        left: -1280px; 
       
        } 
       
        60%{ 
       
        left: -2560px; 
       
        } 
       
        65%{ 
       
        left: -2560px; 
       
        } 
       
        70%{ 
       
        left: -3840px; 
       
        } 
       
        95%{ 
       
        left: -3840px; 
       
        } 
       
        100%{ 
       
        left: -5120px; 
       
        }
       
        }
       
       #slidebar img{ 
       
        float: left; 
        width: 30%;
       }